*{
    margin: 0;
}
h1{
    padding: 5px;
    display: block;
    width: 100%;
    text-align: center;
    background-color: bisque;
}
p{
    padding: 20px;
    margin: 5px;
    color: chocolate;
    font-family: sans-serif;
    background-color: #F0FFFFFF;
}
section{
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    background-color: #e88888;
    padding: 20px;
    margin: 5px;
}

button{
    padding: 10px;
    margin: 5px;
    background-color: #61bf20;
    color: #faf5f5;
    font-weight: bold;
    border-radius: 15px;
}